// .item-comment{
//     border
// }
.name-comment{
    color: #6C006C;
    font-weight: 500;
}
.time{
    font-size: 0.8rem;
}
.c-comment{
    word-wrap: break-word;
}
.comment-del{
    cursor: pointer;
    transition: color 0.25s;
    &:hover{
        color: red;
    }
}