.header{
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: #7D1F7D;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    text-transform: uppercase;
    .c-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFF;
        .user{
            align-items: center;
            button{
                outline: none;
                padding: 8px 12px;
                color:#FFF;
                background-color: transparent;
                border: 1px solid #D335D3;
                border-radius: 5px;
                text-transform: uppercase;
            }
        }
        .user span{
            margin-right: 15px;
        }
    }
}