.login{
    margin: 0 auto;
    .btn-login {
        outline: none;
        border: none;
        color: #fff;
        background-color: #d335d3;
        padding: 6px 16px;
        border-radius: 10px;
      }
}