@import "variables";
.login {
  margin: 0 auto;
  width: 50%;
  @include breakpoint(medium) {
    width: 100%;
  }
  .btn-login {
    outline: none;
    border: none;
    color: #fff;
    background-color: #d335d3;
    padding: 0.55em 0.45em;
    border-radius: 10px;
    width: 25%;
    margin-left: 5px;
    @include breakpoint(medium){
      width: 50%;
      margin-left: 0;
    }
  }
  .box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(medium) {
      flex-direction: column;
    }
  }
  .link{
    color: #FFF;
  }
}
