*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
button{
  outline: none;
}
input,select{
  outline: none;
}
.main{
  padding-top:5rem;
}
.flex-jc-c{
  justify-content: center;
}
