body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// $breakpoints: (
//   small: 499px,
//   medium: 899px,
//   large: 999px,
//   xlarge: 1399px,
// );

// @mixin breakpoint($size) {
//   $breakpoint-value: map-get($breakpoints, $size);
//   @media screen and (max-width: $breakpoint-value) {
//     @content;
//   }
// }